<template>
    <el-dialog :title="titleDialog" :visible="showDialog" @close="close" @open="create" :close-on-click-modal="false">
        <form autocomplete="off" @submit.prevent="submit">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.number}">
                            <label class="control-label">RUC</label>
                            <el-input :disabled="form.is_update" v-model="form.number" :maxlength="11" dusk="number">
                                <el-button :disabled="form.is_update" type="primary" slot="append" :loading="loading_search" icon="el-icon-search" @click.prevent="searchSunat">
                                    SUNAT
                                </el-button>
                            </el-input>
                        </div>

                        <!--<div class="form-group" :class="{'has-danger': errors.number}">-->
                            <!--<label class="control-label">RUC</label>-->
                            <!--<el-input v-model="form.number" :maxlength="11" dusk="number"></el-input>-->
                            <!--<small class="form-control-feedback" v-if="errors.number" v-text="errors.number[0]"></small>-->
                        <!--</div>-->
                    </div>
                    <div class="col-md-6">

                        <div class="form-group" :class="{'has-danger': errors.name}">
                            <label class="control-label">Nombre de la Empresa</label>
                            <el-input :disabled="form.is_update" v-model="form.name" dusk="name"></el-input>
                            <small class="form-control-feedback" v-if="errors.name" v-text="errors.name[0]"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div v-if="form.is_update" class="form-group" :class="{'has-danger': (errors.subdomain || errors.uuid)}">
                            <label class="control-label">Nombre de Subdominio</label>
                            <el-input :disabled="form.is_update" v-model="form.hostname" dusk="name"></el-input>
                        </div>
                        <div v-else class="form-group" :class="{'has-danger': (errors.subdomain || errors.uuid)}">
                            <label class="control-label">Nombre de Subdominio</label>
                            <el-input v-model="form.subdomain" dusk="subdomain">
                                <template slot="append">{{ url_base }}</template>
                            </el-input>
                            <small class="form-control-feedback" v-if="errors.subdomain" v-text="errors.subdomain[0]"></small>
                            <small class="form-control-feedback" v-if="errors.uuid" v-text="errors.uuid[0]"></small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.email}">
                            <label class="control-label">Correo de Acceso</label>
                            <el-input :disabled="form.is_update" v-model="form.email" dusk="email"></el-input>
                            <small class="form-control-feedback" v-if="errors.email" v-text="errors.email[0]"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" v-if="!form.is_update">
                        <div class="form-group" :class="{'has-danger': (errors.password)}">
                            <label class="control-label">Contraseña</label>
                            <el-input type="password" :disabled="form.is_update" v-model="form.password" dusk="password"></el-input>
                            <small class="form-control-feedback" v-if="errors.password" v-text="errors.password[0]"></small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.plan_id}">
                            <label class="control-label">Plan</label><br>
                            <el-select v-model="form.plan_id" dusk="plan_id">
                                <el-option v-for="option in plans" :key="option.id" :value="option.id" :label="option.name"></el-option>
                            </el-select>
                            <small class="form-control-feedback" v-if="errors.plan_id" v-text="errors.plan_id[0]"></small>
                        </div>
                    </div>

                    <div class="col-md-6" v-if="!form.is_update">
                        <div  class="form-group" :class="{'has-danger': errors.type}">
                            <label class="control-label">Perfil</label>
                            <el-select :disabled="form.is_update" v-model="form.type">
                                <el-option v-for="option in types" :key="option.type" :value="option.type" :label="option.description"></el-option>
                            </el-select>
                            <small class="form-control-feedback" v-if="errors.type" v-text="errors.type[0]"></small>
                        </div>
                    </div>
                     <div class="col-md-6">
                            <div class="form-group" :class="{'has-danger': errors.number_contribuyente}">
                                <label class="control-label">N° de Contribuyentes <span class="text-danger">*</span></label>
                                <el-input v-model="form.number_contribuyente"></el-input>
                                <small class="form-control-feedback" v-if="errors.number_contribuyente" v-text="errors.number_contribuyente[0]"></small>
                            </div>
                        </div>

                </div>
                
               
 
                <template>
                    <div class="row" >
                        <div class="col-md-12 mt-2">
                            <h4 class="border-bottom">Cuenta Api rest</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" :class="{'has-danger': errors.webservices}">
                                <label class="control-label">Webservices<span class="text-danger">*</span></label>
                                <el-input v-model="form.webservices" readonly></el-input>
                                <small class="form-control-feedback" v-if="errors.webservices" v-text="errors.webservices[0]"></small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" :class="{'has-danger': errors.token}">
                                <label class="control-label">Token <span class="text-danger">*</span></label>
                                <el-input v-model="form.token" readonly></el-input>
                                <small class="form-control-feedback" v-if="errors.token" v-text="errors.token[0]"></small>
                            </div>
                        </div>
                    </div>
                </template>

            </div>
            <div class="form-actions text-right pt-2">
                <el-button @click.prevent="close()">Cancelar</el-button>
                <el-button type="primary" native-type="submit" :loading="loading_submit" dusk="submit">
                    <template v-if="loading_submit">
                        {{button_text}}
                    </template>
                    <template v-else>
                        Guardar
                    </template>
                </el-button>
            </div>
        </form>
    </el-dialog>
</template>


<script>

    import {serviceNumber} from '../../../mixins/functions'

    export default {
        mixins: [serviceNumber],
        props: ['showDialog', 'recordId'],
        data() {
            return {
                headers: headers_token,
                loading_submit: false,
                loading_search: false,
                titleDialog: null,
                button_text:null,
                resource: 'clients',
                error: {},
                errors: {},
                form: {},
                url_base: null,
                plans:[],
                modules: [],
                types:[],
                soap_sends: [ { value: '01', text: 'Sunat' }, { value: '02', text: 'Ose' }],
                soap_types: [{id: "01", description: "Demo"}, {id: "02", description: "Producción"}],
                toggle: false,
                certificate_admin: '',
                soap_username:  null,
                soap_password:  null

            }
        },
        async created() {
        },
        methods: {
            initForm() {
                this.errors = {}
                this.form = {
                    id: null,
                    name: null,
                    email: null,
                    identity_document_type_id: '6',
                    number: '',
                    password:null,
                    plan_id:null,
                    locked_emission:false,
                    type:null,
                    is_update:false,
                    modules: [],
                    config_system_env: true,
                    number_contribuyente:null,
                    webservices:null,
                    token:null
                  
                }

 
            },
           async create() {
                await this.initForm()
                await this.$http.get(`/${this.resource}/tables`)
                .then(response => {
                    this.url_base = response.data.url_base
                    this.plans = response.data.plans
                  //  this.modules = response.data.modules
                    this.types = response.data.types
                    this.certificate_admin = response.data.certificate_admin
                    this.soap_username = response.data.soap_username
                    this.soap_password = response.data.soap_password
                    this.form.webservices=response.data.webservices
                    this.form.token=response.data.token
                })

             

                this.form.soap_username = this.soap_username
                this.form.soap_password = this.soap_password

                this.titleDialog = (this.recordId)? 'Editar Cliente':'Nuevo Cliente'
                if (this.recordId) {
                    this.$http.get(`/${this.resource}/record/${this.recordId}`)
                        .then(response => {
                                this.form = response.data.data
                                this.form.is_update = true
                            })
                }
            },
 
            async submit() {
                // console.log(this.form)
              
            

                if(!this.form.is_update)
                {
                    if(this.form.certificate && !this.form.password_certificate)
                    {
                     return this.$message.error('Si carga un certificado, es necesario ingresar el password del certificado')
                    }
                }else
                {
                    if(this.form.temp_path && !this.form.password_certificate){
                         return this.$message.error('Si carga un certificado, es necesario ingresar el password del certificado')
                    }
                }



                this.button_text = (this.form.is_update) ? 'Actualizando cliente...':'Creando base de datos...'
                this.loading_submit = true
                await this.$http.post(`${this.resource}${(this.form.is_update ? '/update' : '')}`, this.form)
                    .then(response => {
                        if (response.data.success) {
                            this.$message.success(response.data.message)
                            this.$eventHub.$emit('reloadData')
                            this.close()
                        } else {
                            this.$message.error(response.data.message)
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data
                        }else if(error.response.status === 500){
                            this.$message.error(error.response.data.message);
                        }
                         else {
                            console.log(error.response)
                        }
                    })
                    .then(() => {
                        this.loading_submit = false
                    })
            },
            close() {
                this.$emit('update:showDialog', false)
                this.initForm()
            },
            searchSunat() {
                this.searchServiceNumber()
            },
            errorUpload(r)
            {
                console.log(r)
            },
            successUpload(response)
            {
                if (response.success) {
                    this.form.certificate = response.data.filename
                   // this.form.image_url = response.data.temp_image
                    this.form.temp_path = response.data.temp_path
                } else {
                    this.$message.error(response.message)
                }
            }
        }
    }
</script>
