<template>
     <div>
            <div class="row">
              <div class="col-md-12">
                    <div class="card mb-0 mt-0">
                    <div class="card-header bg-primary">
                        <h3 class="my-0 pl-1 text-white"><i data-feather="more-vertical"></i>Validacion de Comprobantes</h3>
                        
                    </div>
             <div class="card-content collapse show">
            <div class="card-body p-0">

                   <data-table  :resource="resource">
                   <tr slot="heading">
                      <th>Dominio</th>
                      <th>RAZON SOCIAL</th>
                      <th>RUC</th>
                      <th class="text-center">Total CPE </th>
                      <th class="text-center">Aceptado</th>
                      <th class="text-center">Registrado</th>
                      <th class="text-center">Anulado</th>
                    </tr>
                    <tr slot-scope="{ index, row }" :class="{ disable_color : !row.enabled}">
                       
                      <td> 
                        <p class="h5">
                            <a :href="`http://${row.hostname}`" target="_blank" style="color:black">{{ row.hostname }}</a>
                        </p>
                        </td>
                      <td> <p class="h5">{{ row.name }}</p></td>
                      <td> <p class="h5">{{ row.number }}</p></td>
                    
                      <td class="text-center">
                        <template v-if="row.max_documents !== 0 && row.count_doc > row.max_documents">
                          <el-popover
                            placement="top-start"
                            width="220"
                            trigger="hover"
                            :content="text_limit_doc">
                            <label slot="reference" class="text-danger">
                              <p class="h5"> <strong>{{ row.count_doc }}</strong></p>
                            </label>
                          </el-popover>
                        </template>
                        <template v-else>
                          <label>
                            <p class="h5"> <strong>{{ row.count_doc }}</strong></p>
                          </label>
                        </template>
                       
                         
                      </td>
                       <td class="text-center">
                         <ButtonValidador :form="row.id" :table_result="row.total_accepted" :state_type_id="state_type_aceptado"></ButtonValidador>

                       </td>
                      <td class="text-center ">
                           <ButtonValidador :form="row.id" :table_result="row.total_registered" :state_type_id="state_type_registrado"></ButtonValidador>
                       </td>
                       <td class="text-center">
                             <ButtonValidador :form="row.id" :table_result="row.total_canceled" :state_type_id="state_type_anulado"></ButtonValidador>
                       </td>
                    </tr>
                </data-table>
                

              
           
            </div>
             </div> 
             
        </div>
                        </div>
                    </div>

        
       
    </div>
</template>
<style>
 </style>

<script>

import DataTable from '../../../components/DataTables.vue';
import ButtonValidador from '../../../components/Cpe_aceptado.vue'  

export default {
  props: ['deletePermission'],
   components: {DataTable,ButtonValidador},
   data() {
    return {
      showDialog: false,
      state_type_aceptado:"05",
      state_type_anulado:"11",
      state_type_registrado:"01",
      resource: "clients",
      recordId: null,
      total_documents: 0,
 
    };
  },
 
  methods: {
    changeLockedTenant(row) {
      this.$http
        .post(`${this.resource}/locked_tenant`, row)
        .then(response => {
          if (response.data.success) {
            this.$message.success(response.data.message);
            this.$eventHub.$emit("reloadData");
          } else {
            this.$message.error(response.data.message);
          }
        })
        .catch(error => {
          if (error.response.status === 500) {
            this.$message.error(error.response.data.message);
          } else {
            console.log(error.response);
          }
        })
        .then(() => {});
    },
    async validar(id,state_type_id){
      let formData={
        id:id,
        state_type_id:this.rellenarCeros(state_type_id,2)
      }
    const response =  await this.$http.get(`${this.resource}/search/${id}/${this.rellenarCeros(state_type_id,2)}`, formData)
           if (response.data.success) {
            this.$message.success(response.data.message);
            for (let index = 0; index < response.data.archivo_txt; index++) {
                await  this.$http.get(`/${this.resource}/validateDocuments?numero=`+index+`&id=${id}`).then((response) =>{
                      if(response.data.success==true){
                         //   responses=true
                          //  this.$message.success(response.data.message);
                            this.$eventHub.$emit("reloadData");
                      }else{
                            this.$message.error(response.data.message);
                              this.loading_submit = false
                      }
                    
                })
            }
            this.loading_submit = false

          //  this.$eventHub.$emit("reloadData");
          } else {
            this.$message.error(response.data.message);
          }
    },
    rellenarCeros(number,width){
        var numberOutput = Math.abs(number); /* Valor absoluto del número */
    var length = number.toString().length; /* Largo del número */ 
    var zero = "0"; /* String de cero */  
    
    if (width <= length) {
        if (number < 0) {
             return ("-" + numberOutput.toString()); 
        } else {
             return numberOutput.toString(); 
        }
    } else {
        if (number < 0) {
            return ("-" + (zero.repeat(width - length)) + numberOutput.toString()); 
        } else {
            return ((zero.repeat(width - length)) + numberOutput.toString()); 
        }
    }
    }
  }
};
</script>
