.responsives{
    width:98.5% !important;
}
.dialog_responsive{
    margin-top: 5vh !important;
    width: 50% !important;
}
.widht99{
  width: 99% !important;  
}
 .label_left{
     text-align: right !important;
 }
@media (max-width:320px){
    .label_block{
        font-size:20px !important;
        text-align: left !important;
    }
    .dialog_responsive {
        margin-top: 5vh !important;
        width: 99% !important;
    }
    .padding_right{
        padding-right: 5px !important
    }
    .paddingr{
        padding-right:2px;
    }
}
@media (min-width:768px){
    .label_block{
        font-size: 20px !important;
        text-align: left !important;
    }
    .dialog_responsive {
        margin-top: 5vh !important;
        width: 99% !important;
    }
    .paddingr{
        padding-right:2px;
    }
    .padding_right{
        padding-right: 5px !important
    }
}
@media (orientation: landscape) {
    .label_block{
        font-size:20px !important;
        text-align: left !important;
    }
    .dialog_responsive {
        margin-top: 5vh !important;
        width: 99% !important;
    }
    .paddingr{
        padding-right:2px;
    }
    .padding_right{
        padding-right: 5px !important
    }
}
@media only screen and (min-width:320px) and (max-width:480px){
    .label_block{
        font-size: 20px !important;
        text-align: left !important;
    }
    .dialog_responsive {
        margin-top: 5vh !important;
        width: 99% !important;
    }
    .padding_right{
        padding-right: 5px !important
    }
}
@media only screen and (min-device-width: 960px){
    .dialog_responsive {
        margin-top: 5vh !important;
        width: 50% !important;
    }
    .label_block{
        font-size: 20px !important;
        text-align: right !important;
        font-weight: bold;
      
    }
    .paddingr{
        padding-right:0;
    }
}