<template>
    <div >
               <button  type="button" class="btn btn-sm bg-light text-dark" :class="{activado:isSelected}" @click="clickDownload()" v-loading="loading_submit"> {{text_button}}</button>
    </div>
</template>

<style>
.activado{
    background-color:yellowgreen !important;
}
</style>
<script>

    import moment from 'moment'
    import queryString from 'query-string'

    export default {
        props: {
              
             proceso:{
                type: String,
                default: "",
                required: false
            },
              form_download:{
                type: Object
            },
             text_button:{
                type: String,
                default: "",
                required: false
            },
             resource:{
                type: String,
                default: "",
                required: false
            }
            ,
             type_button:{
                type: String,
                default: "",
                required: false
            },
              isSelected:{
                type: Boolean,
                default:false,
                required: false
            },
            type_document:{
                type:String,
                default:"",
                required:true
            },
            
        },
        data () {
            return {
                form:{
                    id:null,
                    ruc:null,
                    usuario_sol:null,
                    clave_sol:null,
                    tipodocumento:null,
                    serie:null,
                    numero:null,
                    proceso:null,
                    link_submit:null
                },
                loading_submit: false,
                xml:null,
                cdr:null,
                pdf:null,
                title:null,
                idEstablisher:null,
            }
        },
        computed: {
        },
        created() {
        
        },
        async mounted () {
 

        },
        methods: {
            async clickDownload(){
                this.idEstablisher=this.form_download.establishment_id
              await   this.$http.get(`/${this.resource}/credenciales/${this.idEstablisher}`).then(response => {
                      this.form.ruc=response.data.number     
                      this.form.usuario_sol=response.data.number+response.data.user_sol//'20573198108HIOULDES'
                      this.form.clave_sol=response.data.clave_sol//'Invierno1'
                    })  

                    this.form.id=this.form_download.id
                   
                  
                    this.form.tipodocumento=this.form_download.tipoc
                    this.form.serie=this.form_download.serie
                    this.form.numero=this.form_download.numero  
                    if(this.type_document=="COMPRA"){
                         this.form.ruc=this.form_download.customer.number
                        this.form.proceso="Documento de Compra"
                    }else{
                        this.form.proceso="Documento de Venta"
                    }
                    //this.form.ruc="20573198108"
                    this.form.xml_purchase=this.form_download.xml_purchase
                    this.form.cdr_purchase=this.form_download.cdr_purchase
                    this.form.pdf_purchase=this.form_download.pdf_purchase
                    
                  
                    if(this.type_button=='XML'){
                    this.link_submit=this.resource+"/download_xml"   
                    await  this.clickDownload_file(this.link_submit,this.form)
                    }else if(this.type_button=='CDR'){
                          this.link_submit=this.resource+"/download_cdr" 
                    await  this.clickDownload_file(this.link_submit,this.form)
                    }else if(this.type_button=='PDF'){
                          this.link_submit=this.resource+"/download_pdf" 
                    await  this.clickDownload_file(this.link_submit,this.form)
                    }
                    this.$eventHub.$emit('reloadData')
            },
             async  clickDownload_file(link_submit,form){
                 this.loading_submit=true
                if(this.isSelected==false){
                    
                    
                     await  this.$http.post(link_submit,form)
                     
                  .then(response => {
                      if(response.data.success==true){
                         if(this.type_button=="XML"){
                       //      const resp = axios.get(this.resource+`/download_file?fil`+response.data.data.comprobante+".xml")
                              window.open(this.resource+`/download_file?type=xml&file=`+response.data.data.comprobante+".xml");   
                              this.$emit('update:isSelected',true)
                         }else if(this.type_button=="CDR"){
                              window.open(this.resource+`/download_file?type=cdr&file=`+response.data.data.comprobante+".xml");   
                              this.$emit('update:isSelected',true)
                         }else if(this.type_button=="PDF"){
                              window.open(this.resource+`/download_file?type=pdf&id=`+form.id+`&file=`+response.data.data.comprobante+".pdf");   
                              this.$emit('update:isSelected',true)
                        }
                          
                         //response.data.data.ruta
                       this.$message({message: response.data.message,type: 'success'});
                      // this.isSelected=true
                       
                      }else{
                      this.$message({message: response.data.message,type: 'error'});

                      }
                  })
                }else{
                    
                   await this.$http.get(`/${this.resource}/record/`+form.id).then(response => {
                         if(this.type_document=="COMPRA"){
                             this.xml=response.data.data.xml_purchase
                             this.cdr=response.data.data.cdr_purchase
                             this.pdf=response.data.data.id
                             alert(response.data.id)
                         }else{
                             this.xml=response.data.data.xml_sales
                             this.cdr=response.data.data.cdr_sales
                             this.pdf=response.data.data.id
                         }
                    })


                      if(this.type_button=="XML"){
                               window.open(this.resource+`/download_file?type=xml&file=`+this.xml);   
                         }else if(this.type_button=="CDR"){
                              window.open(this.resource+`/download_file?type=cdr&file=`+this.cdr);   
                         }else if(this.type_button=="PDF"){
                              window.open(this.resource+`/download_file?type=pdf&id=`+this.pdf);   
                         }
                }
 
                
               
                  
                  this.loading_submit=false
            },
         
        }
    }
</script>
