<template>
  <el-popover
        placement="right"
        trigger="hover"
        width="430">
        <el-table :data="row.total_registered" style="text-align:center !important;color:#303133 !important;font-weight: bold;">
            <el-table-column width="130" property="boleta" label="Boleta de Venta"></el-table-column>
            <el-table-column width="130" property="factura" label="Factura"></el-table-column>
            <el-table-column width="130" property="credito" label="Nota de Credito"></el-table-column>
        </el-table>
        <el-button slot="reference" @click="validar(row.id,1)"> <i class="fa fa-eye"></i></el-button>
    </el-popover>
</template>
<script>

</script>
