<template>
    <el-popover
        placement="right"
        trigger="hover"
        width="430">
        <el-table :data="table_result"  style="text-align:center !important;font-weight: bold;" >
            <el-table-column width="130" property="boleta" label="Boleta de Venta"></el-table-column>
            <el-table-column width="130" property="factura" label="Factura"></el-table-column>
            <el-table-column width="130" property="credito" label="Nota de Credito"></el-table-column>
        </el-table>
        <el-button slot="reference" @click="validar()" v-loading="loading_submit"> <i class="fa fa-eye"></i></el-button>
    </el-popover>
</template>
<script>
 
export default {
   
    props:['form','table_result','state_type_id'],
   data() {
    return {
      loading_submit: false,
      resource: "clients",
      total_documents: 0,
    };
  },
 
  methods: {
    async validar(){
     
            let formData={
                id:this.id,
                state_type_id:this.rellenarCeros(this.state_type_id,2)
            }
           this.loading_submit = true
           const response =  await this.$http.get(`${this.resource}/search/${this.form}/${this.state_type_id}`)
           if (response.data.success) {
            this.$message.success(response.data.message);
            for (let index = 0; index < response.data.archivo_txt; index++) {
                console.log(response.data.archivo_txt)
                await  this.$http.get(`/${this.resource}/validateDocuments?numero=`+index+`&id=${this.form}`).then((response) =>{
                      if(response.data.success==true){
                            this.$message.success(response.data.message);
                            this.$eventHub.$emit("reloadData");
                      }else{
                            this.$message.error(response.data.message);
                              this.loading_submit = false
                      }
                    
                })
            }
           } else {
            this.$message.error(response.data.message);
          }
           this.loading_submit = false
    },
    rellenarCeros(number,width){
        var numberOutput = Math.abs(number); /* Valor absoluto del número */
    var length = number.toString().length; /* Largo del número */ 
    var zero = "0"; /* String de cero */  
    
    if (width <= length) {
        if (number < 0) {
             return ("-" + numberOutput.toString()); 
        } else {
             return numberOutput.toString(); 
        }
    } else {
        if (number < 0) {
            return ("-" + (zero.repeat(width - length)) + numberOutput.toString()); 
        } else {
            return ((zero.repeat(width - length)) + numberOutput.toString()); 
        }
    }
    },




  }
};
</script>

