<template>
    <div>
        <div class="row ">

            <div class="col-md-12 col-lg-12 col-xl-12 ">
                  
                <div class="row mt-2"> 
                    <div class="col-lg-4 col-md-4 ">
                        <div class="form-group" :class="{'has-danger': errors.periodo}"> 
                            <label class="control-label">Periodo<span class="text-danger"> *</span></label>
                              <el-date-picker
                                v-model="search.periodo"
                                format="MM-yyyy"
                                value-format="MM-yyyy"
                                type="month"
                                placeholder="Periodo">
                                </el-date-picker>
                            <small class="form-control-feedback" v-if="errors.periodo" v-text="errors.periodo[0]"></small>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-md-4 col-sm-12 mt-4"> 
                        <el-button class="submit" type="primary" @click.prevent="getRecordsByFilter" :loading="loading_submit" icon="el-icon-check" >Validar documentos</el-button>

                    </div>             
                    
                </div>
                <div class="row mt-1 mb-3">
                    
                </div> 
            </div>


            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <slot name="heading"></slot>
                        </thead>
                        <tbody>
                        <slot v-for="(row, index) in records" :row="row" :index="customIndex(index)"></slot>
                        </tbody>
                    </table>
                    <div>
                        <el-pagination
                                @current-change="getRecords"
                                layout="total, prev, pager, next"
                                :total="pagination.total"
                                :current-page.sync="pagination.current_page"
                                :page-size="pagination.per_page">
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<style>
.font-custom{
    font-size:15px !important
}
</style>
<script>

    import moment from 'moment'
    import queryString from 'query-string'

    export default { 
        props: {
            resource: String,
        },
        data () {
            return {
                loading_submit:false,
                columns: [],
                records: [],
                customers: [],
                document_types: [],
                state_types: [],
                pagination: {}, 
                errors: {}, 
                search: {}, 
                all_series: [], 
                series: [],  
                 value2: '',          
                see_more:false, 
            }
        },
        computed: {
        },
        created() {
            this.initForm()
            this.$eventHub.$on('reloadData', () => {
                this.getRecords()
            })
        },
        
        methods: {
            clickSeeMore(){
                this.see_more = (this.see_more) ? false : true
            },

            initForm(){

                this.search = { 
                    periodo:null,
                 
                }
            },
  
            customIndex(index) {
                return (this.pagination.per_page * (this.pagination.current_page - 1)) + index + 1
            },
            async getRecordsByFilter(){

                this.loading_submit = await true
                await this.getRecords()
                this.loading_submit = await false

            },
            getRecords() {
                
                this.$eventHub.$emit('valueLoading', true)
                return this.$http.get(`/validate-documents/records?${this.getQueryParameters()}`).then((response) => {
                 if(response.data.success==false){
                      this.loading_submit = false
                       this.$message.error(response.data.message);
                    }else{
                    console.log(response.data)
                    this.records = response.data.data
                    this.pagination = response.data.meta
                    this.pagination.per_page = parseInt(response.data.per_page)
                    this.loading_submit = false

                 }
               //  }
                  
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data 
                        console.log(error.response.data)
                    } else {
                        console.log(error.response)
                    }
                })
                .then(() => {
                    this.loading_submit = false
                    this.$eventHub.$emit('valueLoading', false)
                });

            },
            getQueryParameters() {
                return queryString.stringify({
                    page: this.pagination.current_page,
                    limit: this.limit,
                    ...this.search
                })
            },
            changeClearInput(){
                this.search.value = ''
                // this.getRecords()
            }, 
            cleanInputs(){
                this.initForm()
            }
        }
    }
</script>