<template>
    <div v-loading="loading_submit">
        <div class="row ">
            <div class="col-md-12 col-lg-12 col-xl-12  pt-1">
                <div class="row" v-if="applyFilter">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="d-flex">
                            <label for="filtrar"   class="label pr-1">Buscar</label>
                            <el-select v-model="search.column" size="mini" placeholder="Select" @change="changeClearInput" class="w-100">
                                <el-option v-for="(label, key) in columns" :key="key" :value="key" :label="label"></el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <template v-if="search.column=='date_of_issue'|| search.column=='date' || search.column=='date_of_due' || search.column=='date_of_payment' || search.column=='delivery_date'  || search.column=='fechae'">
                            <el-date-picker
                                v-model="search.value"
                                size="mini"
                                type="date"
                                style="width: 100%;"
                                placeholder="Buscar"
                                value-format="yyyy-MM-dd"
                                @change="getRecords">
                            </el-date-picker>
                        </template>
                        <template v-else-if="search.column=='code_status'">
                            <div class="col-md-12 p-0 m-0  w-100">
                                <el-select v-model="search.value" @input="getRecords" size="mini">
                                    <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                        </template>
                         <template v-else-if="search.column=='tipoc'">
                            <div class="col-md-6 p-0 m-0 w-100">
                                <el-select v-model="search.value" @input="getRecords" size="mini">
                                    <el-option
                                    v-for="item in array_document"
                                    :key="item.id"
                                    :label="item.description"
                                    :value="item.id">
                                    </el-option>
                                </el-select>
                            </div>
                                  
                        </template>
                        <template v-else>
                            <el-input placeholder="Buscar"
                                v-model="search.value"
                                class="w-100"
                                size="mini">
                            <el-button type="primary" slot="append" class="border bg-primary text-white" icon="el-icon-search" @click.prevent="getRecords()" size="mini"  :loading="loading_sunat">Buscar</el-button>
                            </el-input>
                        </template>
                    </div>
                </div>

            </div>


            <div class="col-sm-12 p-0">
               <div class="table-responsive">
                    <table class="table table-sm table-bordered table-striped">
                        <thead>
                        <slot name="heading"></slot>
                        </thead>
                        <tbody>
                        <slot v-for="(row, index) in records" :row="row" :index="customIndex(index)"></slot>
                        </tbody>
                    </table>
                    <div>
                        
                        <el-pagination
                                @current-change="getRecords"
                                layout="total, prev, pager, next"
                                :total="pagination.total"
                                :current-page.sync="pagination.current_page"
                                :page-size="pagination.per_page">
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<style>
.table thead th, .table tfoot th {
    text-transform:none !important;
    vertical-align: top;
    font-size: 11px !important;
    letter-spacing: 0 !important;
}
 
</style> 

<script>

    import moment from 'moment'
    import queryString from 'query-string'

    export default {
        props: {
            resource: String,
            applyFilter:{
                type: Boolean,
                default: true,
                required: false
            },
             
        },
        data () {
            return {
                search: {
                    column: null,
                    value: null,
                    code_status:null
                },
                columns: [],
                records: [],
                pagination: {},
                loading_sunat:false,
                array_document:[],
                 options: [{
                    value: '0',
                    label: 'NO EXISTE'
                    }, {
                    value: '1',
                    label: 'ACEPTADO'
                    }, {
                    value: '2',
                    label: 'ANULADO'
                    }, {
                    value: '3',
                    label: 'AUTORIZADO'
                    }, {
                    value: '4',
                    label: 'NO AUTORIZADO'
                    }],
                loading_submit: false
            }
        },
        computed: {
        },
        created() {
            this.$eventHub.$on('reloadData', () => {
                this.getRecords()
            })
        },
        async mounted () {
            let column_resource = _.split(this.resource, '/')
             await this.$http.get(`/${_.head(column_resource)}/columns`).then((response) => {
                this.columns = response.data
                this.search.column = _.head(Object.keys(this.columns))
            });
            await this.getRecords()

        },
        methods: {
            customIndex(index) {
                return (this.pagination.per_page * (this.pagination.current_page - 1)) + index + 1
            },
            consultarSunat(){
                this.loading_submit=true
                return this.$http.get(`/validate-documents/validar_records?code_status=${this.search.value}`).then((response) => {
                 if(response.data.success==false){
                      this.loading_submit = false
                       this.$message.error(response.data.message);
                    }else{
                   
                    this.records = response.data.data
                    this.pagination = response.data.meta
                    this.pagination.per_page = parseInt(response.data.per_page)
                    this.loading_submit = false

                 }
               //  }
                  
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data 
                        console.log(error.response.data)
                    } else {
                        console.log(error.response)
                    }
                })
                .then(() => {
                    this.loading_submit = false
                    this.$eventHub.$emit('valueLoading', false)
                });
                this.loading_submit=false
            },
           async getRecords() {
                return await this.$http.get(`/${this.resource}/records?${this.getQueryParameters()}`).then((response) => {
                    this.records = response.data.data
                    this.pagination = response.data.meta
                    this.pagination.per_page = parseInt(response.data.meta.per_page)
                }).catch(error => {
                }).then(() => {
                    this.loading_submit = false
                });
            },
            getQueryParameters() {
                return queryString.stringify({
                    page: this.pagination.current_page,
                    limit: this.limit,
                    ...this.search
                })
            },
            changeClearInput(){
                this.search.value = ''
                this.getRecords()
            }
        }
    }
</script>
