/*
Template Name: Admin pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
@import '../variable'; 
/*============================================================== 
 flot chart
 ============================================================== */

.flot-chart {
    display: block;
    height: 300px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}
html body{
.jqstooltip,
.flotTip {
    width: auto!important;
    height: auto!important;
    background: $dark;
    color: $white;
    padding: 5px 10px;
}
}
body .jqstooltip{
    border-color:transparent;
    border-radius:60px;
}